.modal {
    min-height: 300px;
    width: 720px;
    max-width: 100%;
    position: fixed;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1c1c21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    border-radius: 40px;
    box-shadow: 0 24px 32px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.04),
    0 4px 8px rgba(0, 0, 0, 0.04), 0 0 1px rgba(0, 0, 0, 0.04);
    z-index: 50;
}

.header {
    min-height: 104px;
    display: flex;
    align-items: center;
    padding-right: 60px;
    composes: text from global;
    composes: text_type_main-large from global;
    composes: pr-10 from global;
    composes: pl-10 from global;
    composes: pt-10 from global;
}

.close {
    cursor: pointer;
    position: absolute;
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 60px;
    right: 40px;
}