.header {
    background: #1C1C21;
    composes: pb-6 from global;
    composes: pt-6 from global;
}

.inner {
    max-width: 1360px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    composes: pl-10 from global;
    composes: pr-10 from global;
}

.buttons, .cabinet, .logo {
    display: flex;
    align-items: center;
}

.logo {
    justify-content: center;
}

.cabinet {
    justify-content: flex-end;
}