.item-ingredient {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img {
    width: 240px;
    height: 126px;
    margin: 0 auto;
    composes: mb-1 from global;
}

.img img {
    object-fit: cover;
    object-position: center;
}

.counter {
    position: absolute;
    right: 0;
    top: 0;
}

.name {
    composes: text_type_main-default from global;
    text-align:  center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height:48px
}
