.button-header {
    composes: mr-2 from global;
    composes: pl-5 from global;
    composes: pr-5 from global;
    composes: pt-4 from global;
    composes: pb-4 from global;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.button-header_active {
    cursor: auto;
}
.button-header:last-child {
    margin-right: 0;
}

.icon {
    composes: mr-2 from global;
    height: 22px;
}

.icon svg {
    height: 100%;
    width: auto;
    fill: #8585AD;
    transition: 0.3s fill ease-in-out;
}

.icon.icon_active svg,
.button-header:hover .icon svg {
    fill: #FFFFFF;
}

.text {
    composes: text from global;
    composes: text_type_main-default from global;
    color: #8585AD;
    transition: 0.3s color ease-in-out;
}

.text.text_active,
.button-header:hover .text {
    color: #FFFFFF;
}
